@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Geologica:wght@100..900&display=swap');

.advantages {
    &-section {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        width: 100%;
        font-family: "Geologica", sans-serif;
        font-optical-sizing: auto;
        font-variation-settings:
            "slnt" 0,
            "CRSV" 0,
            "SHRP" 0;
        font-style: normal;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin: 0 auto;
        margin-bottom: 80px;

        &__title {
            margin: 0;
            font-size: 35px;
            color: #016670;
        }
    }
    
    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        &__icon {
            width: 40px;
            height: 40px;
        }

        &__item {
            display: flex;
            gap: 15px;
            font-size: 20px;
            align-items: center;
            text-align: center;
            box-sizing: border-box;
            width: 40%;
        }

        &__border {
            border: 2px solid #016670;
            padding: 15px;
            border-radius: 40px;
            width: 40px;
            height: 40px;
        }
    }
}

