<header class="header">
    <div class="logo-container">
        <div class="logo-container__img"></div>
        <div class="title-container">
            <h2 class="title-container__title">ДОСТАВКА</h2>
            <h3 class="title-container__subtitle">сипких матеріалів</h3>
        </div>
    </div>
    <div class="naw-container">
        <div>Послуги</div>
        <div>Контакти</div>
    </div>
    <div class="call-container">
        <div class="call-container__img"></div>
        <a href="tel:+380677201420" class="call-container__link">+38 (067) 720-14-20</a>
    </div>
</header>