.main__back {
    background-image: url(/town.png);
    height: calc(100% - 135px);
    background-size: 100%;
    background-color: #EDEAE5;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top: 125px;
    right: 0px;
    left: 0px;
    z-index: 0;
}

.main {
    position: relative;
    z-index: 2;

    .main__cars-container {
        display: flex;
        justify-content: space-between;

        .main__car-first {
            width: 40%;
            height: 650px;
            background-image: url(/image432.png);
            background-size: 100%;
            background-position: center;
            position: relative;
            background-repeat: no-repeat;
            z-index: 5;
        }

        .main__car-first::after {
            content: "ЗіЛ від 1 до 6 тон";
            color: #016670;
            position: absolute;
            top: 100px;
            right: -180px;
            padding: 25px;
            background-color: #FFF9C7;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            font-size: 30px;
            font-family: "Dela Gothic One", sans-serif;
            box-shadow: #2f2f2f85 0px 11px 20px 7px;
        }

        .main__car-second {
            width: 35%;
            height: 650px;
            background-image: url(/orangeCar.png);
            background-size: 100%;
            background-position: center;
            position: relative;
            background-repeat: no-repeat;
            z-index: 5;
        }

        .main__car-second::before {
            content: "КАМАЗ від 7 до 10 тон";
            color: #016670;
            position: absolute;
            bottom: 230px;
            left: -390px;
            padding: 25px;
            background-color: #FFF9C7;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            font-size: 30px;
            font-family: "Dela Gothic One", sans-serif;
            box-shadow: #2f2f2f85 0px 11px 20px 7px;
        }
    }
}