<div class="main__back"></div>
<main class="main">
    <div class="main__title-container">
        <h1 class="main__title">ЖИТОМИР ТА РАЙОН</h1>
        <h2 class="main__subtitle">Щебінь, пісок, відсів, бут.</h2>
    </div>
    <div class="main__cars-container">
        <div class="main__car-first"></div>
        <div class="main__car-second"></div>
    </div>
    <app-delivery-section></app-delivery-section>
    <app-advantages-section></app-advantages-section>
    <app-connection-section></app-connection-section>
</main>