.main__back {
    background-image: url(/town.png);
    height: calc(100% - 135px);
    background-size: 100%;
    background-color: #EDEAE5;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top: 125px;
    right: 0px;
    left: 0px;
    z-index: 0;
}

.main {
    position: relative;
    z-index: 2;

    .main__title-container {
        position: absolute;
        width: 100%;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        margin: 0 auto;
        margin-top: 20px;
        background-image: url(/phone1.png);
        background-position: center;
        background-size: 35%;
        background-repeat: no-repeat;
    }

    .main__title {
        font-family: "Geologica", sans-serif;
        font-optical-sizing: auto;
        font-variation-settings:
            "slnt" 0,
            "CRSV" 0,
            "SHRP" 0;
        font-weight: 600;
        font-style: normal;
        font-size: 45px;
        color: #FFF9C7;
        margin-top: 0px;
        margin-bottom: 0px;
        text-shadow: #000000ac 0px 1px 13px;
    }

    .main__subtitle {
        font-family: "Geologica", sans-serif;
        font-optical-sizing: auto;
        font-variation-settings:
            "slnt" 0,
            "CRSV" 0,
            "SHRP" 0;
        font-weight: 600;
        font-style: normal;
        font-size: 35px;
        color: #FBE180;
        margin-top: 0px;
        margin-bottom: 0px;
        text-shadow: #000000bc 0px 1px 13px;
    }    

    .main__cars-container {
        display: flex;
        justify-content: space-between;

        .main__car-first {
            width: 40%;
            height: 550px;
            background-image: url(/image432.png);
            background-size: 100%;
            background-position: bottom;
            position: relative;
            background-repeat: no-repeat;
            z-index: 5;
        }

        .main__car-messages {
            display: none;
        }

        .main__car-first::before {
            content: "ЗіЛ від 1 до 6 тон";
            color: #016670;
            position: absolute;
            top: 350px;
            right: -270px;
            padding: 25px;
            background-color: #FFF9C7;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            font-size: 23px;
            font-family: "Geologica", sans-serif;
            font-weight: 600;
            box-shadow: rgba(47, 47, 47, 0.5215686275) 0px 0px 20px 7px;
            border-top-left-radius: 5px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 60px;
            padding-left: 40px;
            z-index: 15;
        }

        .main__car-second {
            width: 35%;
            height: 550px;
            background-image: url(/orangeCar.png);
            background-size: 100%;
            background-position: bottom;
            position: relative;
            background-repeat: no-repeat;
            z-index: 5;
        }

        .main__car-second::before {
            content: "КАМАЗ від 7 до 10 тон";
            color: #016670;
            position: absolute;
            bottom: 215px;
            left: -328px;
            padding: 25px;
            background-color: #FFF9C7;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            font-size: 23px;
            font-family: "Geologica", sans-serif;
            font-weight: 600;
            box-shadow: rgba(47, 47, 47, 0.5215686275) 0px 0px 20px 7px;
            border-top-left-radius: 10px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 60px;
            padding-right: 40px;
        }
    }
}

@media (max-width: 1280px) {
    .main__back {
        height: calc(100% - 90px);
        top: 90px;
        background-size: 110%;
    }
    
    .main {
        .main__title-container {
            margin-top: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
            background-size: 45%;
        }
    
        .main__title {
            font-size: 37px;
        }
    
        .main__subtitle {
            font-size: 28px;
        }    
    
        .main__cars-container {
            .main__car-first {
                height: 360px;
            }
    
            .main__car-first::before {
                top: 245px;
                right: -180px;
                padding: 15px;
                font-size: 18px;
                padding-left: 35px;
                box-shadow: rgba(47, 47, 47, 0.5215686275) 0px 0px 20px 7px;
            }
    
            .main__car-second {
                height: 340px;
            }
    
            .main__car-second::before {
                bottom: 110px;
                left: -228px;
                padding: 15px;
                font-size: 18px;
                padding-right: 35px;
                box-shadow: rgba(47, 47, 47, 0.5215686275) 0px 0px 20px 7px;
            }
        }
    }
}

@media (max-width: 768px) {
    .main__back {
        height: calc(100% - 56px);
        top: 56px;
        background-size: 180%;
    }
    
    .main {
        .main__title-container {
            margin-top: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
            background-size: 45%;
        }
    
        .main__title {
            font-size: 24px;
        }
    
        .main__subtitle {
            font-size: 20px;
        }    
    
        .main__cars-container {
            display: flex;
            .main__car-first {
                height: 210px;
                background-position: top;
                margin-top: 100px;
                width: 50%;
            }

            .main__car-messages {
                display: block;
                width: 50%;
                margin-top: 120px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;

                .main__car-message {
                    width: 90%;
                    background-color: #FFF9C7;
                    color: #016670;
                    font-weight: 300;
                    font-size: 11px;
                    font-family: "Geologica", sans-serif;
                    font-weight: 600;
                    text-align: center;
                    padding: 4px;
                    border-radius: 5px;
                }

                .main__car-message.first {
                    border-bottom-right-radius: 60px;
                }

                .main__car-message.second {
                    border-bottom-left-radius: 60px;
                }
            }
    
            .main__car-first::before {
                top: 0px;
                right: -140px;
                padding: 8px;
                font-size: 16px;
                padding-left: 10px;
                padding-right: 10px;
                box-shadow: rgba(47, 47, 47, 0.5215686275) 0px 0px 20px 7px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                display: none;
            }
    
            .main__car-second {
                height: 210px;
                background-position: top;
                margin-top: 100px;
                width: 50%;
            }
    
            .main__car-second::before {
                display: none;
                bottom: 2%;
                left: -150px;
                padding: 8px;
                font-size: 16px;
                padding-left: 10px;
                padding-right: 10px;
                box-shadow: rgba(47, 47, 47, 0.5215686275) 0px 0px 20px 7px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }
}

@media (max-width: 450px) {
    .main {
        .main__title-container {
            margin-top: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
            background-size: 70%;
        }

        .main__cars-container {
            display: flex;

            .main__car-first {
                height: 110px;
            }

            .main__car-second {
                height: 110px;
            }

            .main__car-messages {
                margin-top: 115px;
                gap: 5px;

                .main__car-message {
                    font-size: 8px;
                }
            }
        }
    }
}