@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Geologica:wght@100..900&display=swap');

.delivery-section {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 40px;
    margin-bottom: 80px;

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__imgs-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    &__button {
        width: 40%;
        height: 50px;
        font-family: "Geologica", sans-serif;
        font-optical-sizing: auto;
        font-variation-settings:
            "slnt" 0,
            "CRSV" 0,
            "SHRP" 0;
        font-style: normal;
        font-size: 20px;
        background-color: #016670;
        color: white;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    &__img {
        width: 600px;
        border-radius: 40px;
        border: 4px solid #016670;
    }

    &__description {
        font-family: "Geologica", sans-serif;
        font-optical-sizing: auto;
        font-variation-settings:
            "slnt" 0,
            "CRSV" 0,
            "SHRP" 0;
        font-style: normal;
        font-size: 20px;
    }

    &__title {
        margin: 0;
        font-size: 35px;
        color: #016670;
        font-family: "Geologica", sans-serif;
        font-optical-sizing: auto;
        font-variation-settings:
            "slnt" 0,
            "CRSV" 0,
            "SHRP" 0;
        font-style: normal;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        gap: 100px;
    }
}