<div class="delivery-section">
    <div class="delivery-section__body">
        <div class="delivery-section__imgs-container">
            <img src="/kamaz-1.jpg" class="delivery-section__img" />
        </div>
        <div class="delivery-section__text-container">
            <h3 class="delivery-section__title">Доставка піску, щебеню, відсіву та буту по Житомиру та району – швидко, надійно,
                зручний час</h3>
            <div class="delivery-section__description">Ми здійснюємо доставку піску, щебеню, відсіву, буту по Житомиру
                та району. Привозимо оперативно за адекватними цінами, в зручний для Вас час. Вибір авто, досвідчені
                водії. Телефонуйте, завжди раді співпраці.</div>
            <a href="tel:+380677201420" class="delivery-section__button">Зателефонувати нам</a>
        </div>
    </div>
</div>